*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.container{
  margin: 0 auto;
  width: 1000px;
  background-color: #fff;
  position: relative;
}

.row{
width: 1000px;
/* background-color:#000; - sfondo di aiuto usato per il layout*/
/* border-bottom: 1px solid red; - bordo di aiuto usato per il layout*/
text-align: center;

}
.image-container{
  width: 33%;
  height: 100%;
  display: inline-block;
  background-color: #eee;
  /*   border-left: 1px solid white; - bordo di aiuto usato per il layout */

}

.row:nth-child(2){
  margin-top: 25px;
}
